@charset "UTF-8";

body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif
}
.full-box{
	margin:  0px 360px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.full-body {
	width: 956px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding:0px 122px;
}