@charset "UTF-8";\

body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif
}
.full-box{
	margin:  0px 360px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.full-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding:0px 122px;
}
.input-header {
	padding: 16px 0px;
	height: 56px;
	line-height: 56px;
	text-align: right;
	border-radius: 6px;
	border-bottom: 1px solid rgb(244, 244, 244);
}
.submit-btn {
	font-size: 16px;
	font-weight: 600;
	color: rgb(197, 197, 197);
	background-color: white;
	border: none;
}
.webtoon-title-box {
	width: 100%;
	height: 56px;
	line-height: 24px;
	border-bottom: 1px solid rgb(244, 244, 244);
}
#webtoon-title {
	width: 100%;
	border: none;
	padding: 20px 20px;
	outline: none;
	font-size: 14px;
	font-weight: 400;
}
.title-input {
	padding: 20px 0px;
	line-height: 24px;
	height: 56px;
	border-bottom: 1px solid rgb(244, 244, 244);
}
#post-title {
	font-size: 14px;
	font-weight: 400;
    height: 44px;
    width: 100%;
    padding: 10px 20px;	
    border: none;
}
.content-input {
	padding-top: 20px;
	line-height: 24px;
	width: 100%;
	height: 300px;
	border-bottom: 3px solid rgb(244,244,244);
	outline: none;
}
#content {
	font-size: 16px;
	font-weight: 400;
	padding: 20px 20px;
	width: 100%;
	border: 2px solid grey;
	outline: grey;
	min-height: 300px;
}
























