<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SoomtoonMapper">

	<select id="toonList" resultType="com.soomtoon.dto.SoomtoonDto">
		SELECT *
		FROM webtoon
		WHERE day_week = #{day_week}
	</select>
	
		<!-- 승현 웹툰 검색 리스트 -->
	<select id="toonSearchList" resultType="com.soomtoon.dto.WebtoonDto">
		<![CDATA[
			SELECT * 
			FROM WEBTOON 
			WHERE toon_name LIKE '%' || #{webtoonName} || '%' 
			ORDER BY webtoon_idx ASC 
		]]>
	</select>
</mapper>